*{
    box-sizing: border-box;
}

p{
    font-size: 18px;
}

.cat-info{
    display: flex;
    gap: 40px;
}

.box-img{
    display: flex;
    align-items: center;
}

.box{
    width: 600px;
}
.error{
    display: none;
    color: red;
}
.breed-select{
    display: none;
}


.loader {
  position: relative;
  display: inline-block;
  padding-left: 20px; /* Добавляем отступ слева для места анимации */
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #3498db;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Применяем анимацию к псевдоэлементу */
}

@keyframes spin {
  0% { transform: translateY(-50%) rotate(0deg); }
  100% { transform: translateY(-50%) rotate(360deg); }
}